@layer tailwind {
    @tailwind base;
}
@tailwind components;
@tailwind utilities;

/* obtained from https://stackoverflow.com/questions/78279141/how-to-change-body-bg-color-for-light-and-dark-mode-mantine-ui */
/* this is probably the wrong way to use this but I couldn't find a clear API in the docs */

/* For light mode */
:root[data-mantine-color-scheme="light"] {
    --mantine-color-body: #f8f8f8 !important;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
    --mantine-color-body: #282a33 !important;
}

[data-mantine-color-scheme="light"] .mantine-Paper-root {
    background-color: white !important;
}

[data-mantine-color-scheme="dark"] .mantine-Paper-root {
    background-color: #22242e !important;
}

[data-mantine-color-scheme="light"] .mantine-Notification-root {
    background-color: white !important;
}

[data-mantine-color-scheme="dark"] .mantine-Notification-root {
    background-color: #22242e !important;
}

[data-mantine-color-scheme="light"] .mantine-Menu-dropdown {
    background-color: white !important;
}

[data-mantine-color-scheme="dark"] .mantine-Menu-dropdown {
    background-color: #22242e !important;
}

.mantine-InputBase-input {
    background-color: hsl(0, 7%, 15%, 75%) !important;
}

[data-position="bottom-right"] {
    bottom: 1.25rem;
    right: 1.25rem;
}

/* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
}
