body,
html {
    position: fixed; /* fix app animation when scrolling to the edge */
    height: 100vh;
    width: 100vw;
    overscroll-behavior: none; /* block navigation gestures because we need it to pan the viewport */
}

[class*="react-flow"] {
    transition: transform 0.1s ease;
}

@media (pointer: coarse) {
    [class*="react-flow"] {
        transition: none;
    }
}
